
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
        <title>Materialart Admin Template</title>
        <link href="/dist/css/style.css" rel="stylesheet">
        <!-- This page CSS -->
        <link href="/dist/css/pages/authentication.css" rel="stylesheet">
        <!-- This page CSS -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Material Admin</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(../../assets/images/big/auth-bg2.jpg) no-repeat left center;">
            <div class="container">
                <div class="row">
                    <div class="col s12 l8 m6 demo-text">
                        <span class="db"><img src="../../assets/images/logo-icon.png" alt="logo" /></span>
                        <span class="db"><img src="../../assets/images/logo-text.png" alt="logo" /></span>
                        <h1 class="font-light m-t-40">Merci pour votre inscription sur <span class="font-medium black-text">doclife.ma</span></h1>
                        <p>This is just a demo text which you can change as per your requeirment, so change once you get chance. this is default text.</p>
                        <a class="btn btn-round red m-t-5" href="{{path('home')}}">Retour au site</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../dist/js/materialize.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
<script>
$('.tooltipped').tooltip();
// ============================================================== 
// Login and Recover Password 
// ============================================================== 
$('#to-recover').on("click", function() {
    $("#loginform").slideUp();
    $("#recoverform").fadeIn();
});
$(function() {
    $(".preloader").fadeOut();
});
</script>    
</body>